body {
   background-color: #CE7777; 
}

hr {
    border-color: grey;
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    width: 5%;
}

h1 {
    color: #2B3A55;
}
h3 {
    color: #2B3A55;
}